@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;700&display=swap');

:root {
    --dark-blue: #283044;
    --light-blue: #78A1BB;
    --dark-green: #D6EADC;
    --light-green: #EBF5EE;
    --white: #FFFFFF;
    --light-gray: #FAFAFA;
    --primary-font: 'Quicksand', sans-serif;
    --secondary-font: 'Tajawal', sans-serif;
}

body {
    background-color: var(--white);
    font-family: var(--secondary-font);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark-blue);
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.header_home {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
}

.header_login {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
}

.content {
    display: flex;
}

.content_1 {
    width: 65%;
    height: 95vh;
}

.content_1_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:70%;
    margin-left: 70px;
}

.content_1_title {
    font-family: var(--secondary-font);
    font-weight: 200;
    font-size: 100px;
    margin: 0 20px;

}

.content_1_subtitle {
    margin: 0px 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 25px;
}

.content_1_list {
    list-style-type: circle;
    font-size: 20px;
    font-weight: 300;
    margin-left: 0.3vw;
}

.content_2 {
    width: 35%;
    height: 95vh;
    background-color: var(--light-blue);
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.content_2_box {
    width: 70%;
    margin-bottom: 20%;
    border-radius: 10px 10px 10px 0;
    background-color: var(--white);
}

.content_2_form_container {
    text-align: center;
}

.content_2_title {
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

.username {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
}

.email {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    margin: 18px 0 18px 0;
}

.content_2_username {
    width: 30%;
    margin:0;
}

.content_2_username_input {
    height: 50%;
}

.password {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
}

.content_2_password {
    width: 30%;
    margin: 0;
}

.content_2_password_input {
    height: 50%;
}

.content_2_password_requirements {
    color: lightgray;
    width:100%;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
}

.requirements_pusher {
    display:flex;
    justify-content: space-around;
}

.pusher {
    width: 30%;
    visibility: hidden;
}

.content_2_submit {
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 10px 10px 10px 0;
    border: none;
    background-color: var(--light-blue);
    transition: background-color 0.5s ease;
    color: var(--white);
    margin: 20px;
    font-family: var(--primary-font)
    &:hover {
        background-color: var(--dark-green);
        color: gray;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

.content_2_submit:hover {
    color: gray;
    background-color: var(--dark-green);
    transition: background-color 0.6s ease, color 0.6s ease;
}

.content_2_forsin_container {
    display: flex;
    justify-content: space-around;
}

.content_2_forsin {
    margin: 20px;
    text-decoration:underline;
    color: lightgray;
    width: 50%;
    text-align: center;
}

.content_2_forsin:hover {
    color: gray;
    transition: color 0.2s ease;
}

.div_anchor {
    color: black;
    text-decoration: none;
    margin: 10px;
}

.div_clicavel_card{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light-green);
}

.div_clicavel_card:hover {
    background-color: var(--dark-green);
    transition: background-color 0.3s ease;
}

.card_content_title {
    font-weight: 400;
    font-size: 18px;
}

.card_content_description {
    font-weight: 400;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: 0;
    height: 5vh;
}

.footer_title {
    padding: 0;
    margin-right: 20px;
}

