@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;700&display=swap');

:root {
    --dark-blue: #283044;
    --light-blue: #78A1BB;
    --dark-green: #D6EADC;
    --light-green: #EBF5EE;
    --white: #FFFFFF;
    --secondary-background-color: #d6d6d6;
    --light-gray: #FAFAFA;
    --primary-font: 'Quicksand', sans-serif;
    --secondary-font: 'Tajawal', sans-serif;
    --red-pri: rgb(255, 108, 108);
    --purple-pri: rgb(219, 148, 255);
    --green-pri: #D6EADC;
}

body {
    background-color: var(--secondary-background-color);
    font-family: var(--secondary-font);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark-blue);
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.header_home {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
}

.header_login {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
}

.content_container {
    margin: 15px 40px;
    background-color: var(--light-gray);
    border-radius: 10px;
}

.content {
    display: flex;
    border-bottom: solid 1px var(--secondary-background-color);
}

.content_1 {
    margin: 20px;
    min-height: 80vh;

}

.content_1_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:70%;
    margin-left: 70px;
}

.content_1_title {
    font-family: var(--secondary-font);
    font-weight: 200;
    font-size: 100px;
    margin: 0 20px;

}

.content_1_subtitle {
    margin: 0px 25px;
    margin-top: 50px;
    font-size: 25px;
}

.content_2 {
    width: 35%;
    height: 95vh;
    background-color: var(--light-blue);
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.content_2_box {
    width: 70%;
    margin-bottom: 20%;
    border-radius: 10px 10px 10px 0;
    background-color: var(--white);
}

.content_2_form_container {
    text-align: center;
}

.content_2_title {
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

.username {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
}

.content_2_username {
    width: 30%;
}

.content_2_username_input {
    height: 50%;
}

.password {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
}

.content_2_password {
    width: 30%;
}

.content_2_password_input {
    height: 50%;
}

.content_2_submit {
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 10px 10px 10px 0;
    border: none;
    background-color: var(--light-blue);
    transition: background-color 0.5s ease;
    color: var(--white);
    margin: 20px;
    font-family: var(--primary-font);
}

.content_2_submit:hover {
    background-color: var(--dark-green);
    color: gray;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content_2_forsin_container {
    display: flex;
    justify-content: space-around;
}

.content_2_forsin {
    margin: 20px;
    text-decoration:underline;
    color: lightgray;
    width: 50%;
    text-align: center;
}

.content_2_forsin:hover {
    color: gray;
    transition: color 0.2s ease;
}

.div_anchor {
    color: black;
    text-decoration: none;
    margin: 10px;
}

.div_clicavel_card{
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: var(--light-green);
    margin-bottom: 5px;
    align-items: center;
}


.div_clicavel_card:hover {
    background-color: var(--dark-green);
    transition: background-color 0.3s ease;
}

.div_clicavel_card_completed{
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);

    margin-bottom: 5px;
}

.div_clicavel_card_completed .card_content_description {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.div_clicavel_card_completed .card_content_date {
    background-color: var(--secondary-background-color);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.card_content_date {
    display: flex;
    justify-content: center;
    height: 2em;
    background-color: var(--light-gray);
    padding: 0.2em 1em 0.2em 1em;
    align-items: center;
    border-radius: 10px;
    display: flex;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 16px;
}

.overdue{
    margin-right: 10px;
    font-weight: 400;
    color: var(--red-pri);
}

.warning{
    margin-right: 10px;
    font-weight: 400;
    color: var(--purple-pri);
}

.safe{
    margin-right: 10px;
    font-weight: 400;
    color: var(--green-pri);
}

.card_content_description {
    width: 50%;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 16px;
}

.status_display {
    width: 30%;
    font-family: var(--primary-font);
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: center;
}


.status_buttons {
    display: flex;
    width: 25%;
    justify-content: space-around;
    background: #f3f3f3;
    padding: 5px;
    border-radius: 10px;
    
}

.status_button {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 14px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background: #ddd;
    border-radius: 3px;
    transition: 0.3s;

}

.status_button:hover {
    background: #bbb;
}

.status_button_active {
    background: var(--light-blue);
    color: white;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: 0;
    height: 5vh;
}

.footer_title {
    padding: 0;
    margin: 0px 20px;
}

.content_buttons_add_task {
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 10px 10px 10px 0;
    border: none;
    background-color: var(--light-blue);
    transition: background-color 0.5s ease;
    color: var(--white);
    margin: 20px;
    font-family: var(--primary-font);
}

.content_buttons_add_task:hover {
    background-color: var(--dark-green);
    color: gray;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal_newtask {
    color: rgb(0, 0, 0);
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    justify-content: center;
    align-items: center;

}
.modal_content {
    background-color: white;
    width: 400px;
    height: 350px;
    margin: 0;
    border-radius: 10px;
}

.close_modal {
    cursor: pointer;
    text-align: right;
    margin-right: 15px;
    margin-top: 6px;
}

.close_pusher {
    height: 20px;
    display: flex;
    justify-content: right;
}

.newitem_title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.new_task_title_container {
    display: flex;
    justify-content: space-around;
}

.new_task_title_container_input {
    margin: 0;
    padding: 2px;
    height: 20px;
}

.new_task_title_container_p {
    margin: 0;
}

.new_task_description_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.new_task_description_container_input {
    margin: 20px;
    width: 80%;
    font-family: var(--primary-font);
    font-size: 14px;
    border-radius: 10px;
    padding: 4px;
}

.new_task_date_container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.new_task_date_container_title {
    margin: 0;
    font-weight: 300;
}

.new_task_date_container_input {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 14px;

}

.new_task_submit_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.new_task_submit_button {
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    background-color: var(--light-blue);
    transition: background-color 0.5s ease;
    color: var(--white);
    margin: 20px;
    font-family: var(--primary-font);
}

.new_task_submit_button:hover {
    background-color: var(--dark-green);
    color: gray;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card_description_date_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--light-green);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    
}



