<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ow dot. - {{ username }}</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <a href="/" class="header_home">Ow Dot</a>
        <a href="/" class="header_login">Sign Out</a>

    </header>

    <div class="content">
        <div class="content_buttons">
            <a href="/create_task/{{ username }}" class="button_create_task">+</a>
        </div>
        <div class="content_1">
            <a href="#" class="div_anchor">
                <div class="div_clicavel_card">
                    <p class="card_content_title">a</p>
                    <p class="card_content_description">b</p>
                </div>
            </a>
        </div>
    </div>
    <footer class="footer">
        <div>
            <p class="footer_title">ow dot.</p>
        </div>
    </footer>
</body>
</html>