<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ow dot. - {{ username }}</title>
    <link rel="stylesheet" href="../static/css/tasklist.css">
</head>

<body>
    <header>
        <a href="" class="header_home">Ow Dot</a>
        <a href="/" class="header_login">Sign Out</a>
    </header>

    <div class="content_container">
        <div class="content">
            <div class="content_buttons">
                <button id="openModal_newtask" class="content_buttons_add_task">+ Task</button>

            </div>

            <div id="modal_newtask" class="modal_newtask">
                <div class="modal_content">
                    <div class="close_pusher">
                        <span></span>
                        <span id="close" class="close_modal">&times;</span>
                    </div>
                    <h2 class="newitem_title">New task</h2>
                    <div class="modal_form">
                        <form action="/create_task/{{ username }}" id="newTaskForm" method="post" action="">
                            <div class="new_task_description_container">
                                <textarea type="text" placeholder="Description" rows="3"
                                    class="new_task_description_container_input" id="task_description"
                                    name="task_description"></textarea>
                            </div>
                            <div class="new_task_date_container">
                                <p class="new_task_date_container_title">Deadline:</p>
                                <input class="new_task_date_container_input" type="date" id="duetime" name="duetime">
                            </div>
                            <div class="new_task_submit_container">
                                <button class="new_task_submit_button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_1">
            <a href="#" class="div_anchor">
                {% for task in tasks %}
                <div
                    class="{% if task.completed == 2 %}div_clicavel_card_completed{% else %}div_clicavel_card{% endif %}">
                    <div class="card_content_container">
                        <div class="card_description_date_container">
                            <p class="card_content_description">{{task.description}}</p>
                            <div class="card_content_date">
                                <p class="{% if task.date_status == 0 %}overdue{% elif task.date_status == 1 %}warning{% else %}safe{% endif %}">o</p>
                                <p>{{task.due_time}}</p>
                            </div>

                            <span class="status_display" data-task-id="{{ task.id }}" onclick="editStatus(this)">
                                {% if task.completed == 0 %} Open {% elif task.completed == 1 %} On going {% else %}
                                Finished {% endif %}
                            </span>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </a>
        </div>

    </div>
    <footer class="footer">
        <div>
            <p class="footer_title">ow dot.</p>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>

</html>